/* Меню */
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 100vh;
}

.header__menu__slogan{
    width: 60%;
}
    
.menu__slogan{
    flex-direction: column;
    margin-left: 6%;
}
    
.header__menu{
    display: flex;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    
}

.menu__buttons{
    margin-left: 20px;
    flex-direction: row;
}
    
.nav__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__logo{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 18rem;
    border: 7px solid #284651;
    background: #FFF;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.kltekst{
    color: #294550;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kalam;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button__header{
    width: 13.1875rem;
    height: 4rem;
    border-radius: 1.875rem;
    background: linear-gradient(180deg, #284651 0%, #018673 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: none;
    transition: box-shadow 0.3s;
    margin: 5px;
}

.button__header span{
    color: #FFF;
    font-family: JejuGothic;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button__header:hover {
   box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); 
}

/* Картинка в меню */
    
.f1{
    width: 34.25rem;
    height: 34.6875rem;
    flex-shrink: 0;
    border-radius: 5.4375rem;
    background: url("img/2024-01-30 12.05.24.jpg"), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover; /* Масштабує зображення, щоб воно відповідало розміру блоку */
    box-shadow: 0px 4px 4px 0px #018673, 0px 4px 4px 0px #04DBC3;
    align-self: center;
    margin-right: 6%;
}

/* Слоган */

.header__slogan{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.we{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Flavors;
    font-size: 18.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #2C454F -14.93%, #018673 124.89%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ral__box{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.ral{
    font-family: K2D;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #284651 0%, #018673 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Порожня секція */

.gap{
    height: 1000px;
}

/* Команда */

.team{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ot__team{
    width: 37.5625rem;
    height: 11.3125rem;
    border-radius: 0rem 3.5625rem 3.5625rem 0rem;
    background: linear-gradient(180deg, #284651 0%, #018673 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px #04DBC3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tot{
    color: #FFF;
    font-family: JejuGothic;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.team__kltekst__border{
    display: flex;
    align-items: center;

    width: 18rem;
    height: 12.5rem;
    border-radius: 18rem 0rem 0rem 18rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px #04DBC3;
}

.kltekst__section{
    color: #294550;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kalam;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}

.team__members{
    display: flex;
    margin-bottom: 230px;
    justify-content: center;
}

.flex-container {
    border-radius: 4.9375rem;
    border: 3px solid var(--2, #04DBC3);
    box-shadow: 0px 4px 4px 0px #018673, 0px 4px 4px 0px #018673;
    width: 25.6875rem;
    height: 38.8125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 50px;
}

.obvod{
    width: 10.0625rem;
    height: 3.0625rem;
    flex-shrink: 0;
    border-radius: 1.375rem;
    border: 1px solid var(--, rgba(4, 219, 195, 0.54));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.obvod span{
    color: #04DBC3;
    font-family: Kalam;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.yacashuinia{
    width: 25.3125rem;
    height: 9rem;
    flex-shrink: 0;
    fill: var(--, linear-gradient(271deg, rgba(4, 219, 195, 0.54) 3.46%, #028A78 99.7%));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 50px;
    z-index: 0;
}

.posadap{
    color: #FFF;
    font-family: Kalam;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 150px;
    margin-bottom: 150px;
    transform: rotate(22.146deg);
    z-index: 1;
    margin-top: -60px;
}

.pasha{
    background: url(img/pasha.jpg), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover; /* Масштабує зображення, щоб воно відповідало розміру блоку */
}

.sasha{
    background: url(img/sasha.jpg), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover; /* Масштабує зображення, щоб воно відповідало розміру блоку */
}

.vika{
    background: url(img/vika.jpg), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover; /* Масштабує зображення, щоб воно відповідало розміру блоку */
}

.vova{
    background: url(img/vova.jpg), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover; /* Масштабує зображення, щоб воно відповідало розміру блоку */
}

.marina{
    background: url(img/mrina.jpg), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover; /* Масштабує зображення, щоб воно відповідало розміру блоку */
}

/* Проєкти */

.ops{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 230px;
}

.zp{
    width: 26.25rem;
    height: 24.9375rem;
    border-radius: 5.3125rem;
    border: 4px solid var(--2, #04DBC3);
    background: url(/img/zirka\ place\ mobile.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px #04DBC3, 0px 4px 4px 0px #04DBC3;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover;
    cursor: pointer;
}

.mc{
    width: 26.25rem;
    height: 24.9375rem;
    border-radius: 5.3125rem;
    border: 4px solid var(--2, #04DBC3);
    background: url(img/cm\ mobile.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px #04DBC3, 0px 4px 4px 0px #04DBC3;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover;
    cursor: pointer;
}

.lknop{
    width: 5.074rem;
    height: 5rem;
    border-radius: 2.5rem;
    background: url(img/2024-01-30\ 12.05.16.jpg), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover;
    cursor: pointer;
    border: none;
}

.pknop{
    width: 5.074rem;
    height: 5rem;
    border-radius: 2.5rem;
    background: url(img/2024-01-30\ 12.05.16.jpg), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover;
    cursor: pointer;
    border: none;
    transform: rotate(180deg);
}

.projects{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.projects__kltekst__border{
    display: flex;
    align-items: center;

    width: 18rem;
    height: 12.5rem;
    border-radius: 0rem 18rem 18rem 0rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px #04DBC3;
}

.ot__projects{
    width: 37.5625rem;
    height: 11.3125rem;
    border-radius: 3.5625rem 0rem 0rem 3.5625rem;
    background: linear-gradient(180deg, #284651 0%, #018673 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px #04DBC3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Клік ту сі мор */

.more{
    display: flex;
    justify-content: center;
    margin-top: 230px;
}

.kartknop{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/more.jpg);
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover;
    width: 87.5rem;
    height: 54.375rem;
}

.knopinkart{
    width: 44rem;
    height: 7.5rem;
    border-radius: 2.0625rem;
    border: 5px solid #284651;
    background: rgba(217, 217, 217, 0.38);
}

.knopinkart span{
    font-family: Inter;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #284651 0%, #018673 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* Ту гет консултейшн */

.tekst{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 230px;
}
.lin{
    width: 65.75rem;
    height: 0.3125rem;
    background: linear-gradient(271deg, rgba(4, 219, 195, 0.54) 3.46%, #028A78 99.7%);
}

.toget{
    width: 46.8125rem;
    height: 22.3125rem;
    text-align: center;
    font-family: Kalam;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #284651 0%, #018673 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 80px;
    margin-bottom: 80px;
}

.lindva{
    width: 65.75rem;
    height: 0.3125rem;
    background: linear-gradient(271deg, rgba(4, 219, 195, 0.54) 3.46%, #028A78 99.7%);
}

.strl{
    width: 12.3125rem;
    height: 18.8125rem;
    background: url(img/2024-01-30\ 12.05.02.jpg), lightgray 50% / cover no-repeat;
    background-position: center; /* Вирівнює зображення по центру */
    background-size: cover;
    margin-top: 10px;
}

/* Медіазапит */

@media only screen and (max-width: 1300px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px;
        max-width: 100vh;
    }

    .header__menu__slogan{
        display: flex;
        align-items: flex-start;
        
    }

    .menu__slogan{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header__slogan{
        display: flex;
        flex-direction: column;
        order: -1;
    }

    .f1{
        width: 32.875rem;
        height: 29.375rem;
        margin-top: -10rem;
    }

    .header__menu{
        margin-top: 70px;
        max-width: 100vh;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .team__members{
        display: flex;
        margin-bottom: 230px;
        min-height: 100vh;
    }

    .zp{
        width: 26.25rem;
        height: 55.8125rem;
    }
    
    .mc{
        width: 26.25rem;
        height: 55.8125rem;
    }

    .kartknop{
        width: 87.5rem;
        height: 196.4375rem;
    }

    .tekst{
        min-height: 100vh;
        align-self: center;
    }

}


@media screen and  (max-width: 600px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px;
        max-width: 100vh;
    }

    .header__menu__slogan{
        display: flex;
        align-items: flex-start;
        
    }

    .menu__slogan{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        height: auto;
    }

    .header__slogan{
        display: flex;
        flex-direction: column;
        order: -1;
    }

    .f1{
        width: 20rem;
        height: 17rem;
        margin-top: -10rem;
    }

    .header__menu{
        margin-top: 70px;
        max-width: 100vh;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .team__members{
        display: flex;
        margin-bottom: 230px;
        min-height: 100vh;
    }

    .zp{
        width: 26.25rem;
        height: 55.8125rem;
    }
    
    .mc{
        width: 26.25rem;
        height: 55.8125rem;
    }

    .kartknop{
        width: 87.5rem;
        height: 196.4375rem;
    }

    .tekst{
        min-height: 100vh;
        align-self: center;
        .button__header span{
            color: #FFF;
            font-family: JejuGothic;
            font-size: 3rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}
    
